/* Ceci est pour mettre l'image de fond et faire que tous les textes soient blanc par défaut*/
html{
    background-image: url(fond.jpg);
   color:white;
  
}
.menu{
    position: relative;
    width:200%;
    background-image: url(ban.jpg);
    height:75px;
    margin-left:-10px;
    margin-top: -10px;
}
.menu>ul{
    width: 20%;
}
.menu>li{
    position: relative;
    list-style:none;
    display:inline-table;
}
.menu>li>a>button{
    margin-top:10px;
    height:50px;
    width:200px;
    background-image:url(bouton.jpg);
    color:white;
    font-size:100%;
}

/* graphisme de titre */
h2{
    margin-left:22.5%;
    font-size:300%;
    font-weight: bold;
    color:whitesmoke;
}
.menu>li>a>button:hover{
    color:gold;

}
/* graphisme du message informant les obligations */
p{
    margin-top:3%;
    margin-left:20%;
    color:lightgray; 
    font-size: 130%;
}
/* graphisme des pastilles obligations */
i{
    color:red;
    font-weight: bold;
}
/* position de la table pour enregistrer quelqu'un*/
table{
    font-weight: bold;
    margin-left:20%;
    font-size: 180%;
}
/* graphisme du bouton enregistrer */
button{
    height:50px;
    width:150px;
    background-image:url(bouton.jpg);
    color:white;
    margin-top:3%;
    margin-left:20%;
    font-weight: bold;
    font-size:100%;
}
/* effet du bouton quand on appuie dessus */
button:hover{
    color:gold;

}
/* taille de la boite texte */
input[type="text"]{
    
   font-size: 20px;
   padding: 5px;
   width: 200px;
   height: 25px; 
}
/* taille des boutons radio */
td>input[type="radio"]{
display:table-column;
   font-size: 20px;
   padding: 5px;
   width: 100px;
   height: 25px; 
}
/* taille des combobox */
select{
    height:40px;
    width: 125px;
    font-size:100%;
}
/* graphisme et position de la ligne conectez vous */
r{
    color:lightgray;
    margin-top:-20px;
    margin-left:27.5%;
    font-size: 130%;
}
/* graphisme du lien */
r>a{
    text-decoration:none;
    color:gold;
}
/* effet quand on appuie sur le lien */
r>a:hover{
    text-decoration:none;
    color:silver;
}
